<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/frags :: head"></head>

<body>
<div th:insert="fragments/frags :: header"></div>

<h1>Step 3: Add a Clear Protective Finish</h1>
<br>

<p>After staining, always top coat with a clear protective finish. It will protect the wood against water, household chemicals, food stains and everyday wear. Tip: To minimize brush marks and bubbles, "tip off" each section of your project before the finish dries. Hold the brush at a 45-degree angle and lightly run the bristles over the entire length of wood.</p>

<br>
<img class="image" th:src="@{/img/finishWood.jpeg}">

<div th:replace="fragments/frags :: footer"></div>

</body>
</html>