<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:replace="fragments/frags :: head"></head>

<body>
<div th:insert="fragments/frags :: header"></div>

<h1>Step 2: Select and Apply a Wood Stain</h1>
<br>

<p>Choosing a wood stain is a matter of personal preference and do-it-yourselfers have a variety of stains to choose from. Stains such as Minwax® Wood Finish™ feature traditional wood tones, while Water-Based Stains (which includes 50 custom colors) allow you to select a stain color that coordinates with your decor. Tip: Before staining, always test the selected stain on a hidden area of your piece, or on scrap wood that matches the wood species of your project.</p>

<br>
<img class="image" th:src="@{/img/woodStain.jpeg}">


<div th:replace="fragments/frags :: footer"></div>

</body>
</html>